.container{
  color: #fff2d5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input.btn {
  color: white;
  background-color: brown;
}

.form-inputs {
  width: 40rem;
}

label {
  display: block;
}


.select2-search {
  background-color: #edebdc;
}

.select2-results__options{
  background-color: #edebdc;
}

.select2-selection{
  background-color: #edebdc;
}

.select2-selection--single {
  background-color: #edebdc !important;

}

.select2-search__field {
  background-color: #9c2d27;
}

.select2-results__option{
  background-color: #edebdc !important;
}
