.container{
  color: #fff2d5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input.btn {
  color: white;
  background-color: brown;
}

.form-inputs {
  width: 40rem;
}
