.pairings-container {
  width: 1 vw;
  height: 0vh;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
  }
.pairings-card {
  // background-color: $darker-red;
  width: 250px;
  height: 175px;
  text-align: center;
  padding:10px 15px 10px 15px;
  margin: 10px 10px;
  color: $white;
  background-image: linear-gradient(rgba(77, 76, 76, 0.5), rgba(0, 0, 0, 0.65 )), asset_url("popcornpairing4.png");
  background-size: cover;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
  p {
    color: #a9aaa5;
    font-weight: 700;
    font-size: 16px;
  }
    .name {
    font-size: 15px;
    color: $white;
  }
.pairing-daddy-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body1 {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(117, 23, 23, 0.5)), url(/assets/8.png);
    // background-image: linear-gradient(rgba(77, 76, 76, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/8.png);
    height: 100vh;
  }
  .button {
    display: contents;
  }
.back-pairings {
  text-align: center;
}

.back-button {
  margin-left: 43vw;
}
