  <div class="food_card">
    <h5><%= @foods.dish %></h5>
    <img src="https://static01.nyt.com/images/2015/12/09/dining/09COOKING-CLAMSPAGHETTI2/09COOKING-CLAMSPAGHETTI2-articleLarge.jpg" alt="movie poster">
  </div>
