  <div class="movie_card">
    <h5> movie title</h5>
    <p> movie.genre</p>
    <img src="https://m.media-amazon.com/images/M/MV5BMTIzMDc4MzA2Ml5BMl5BanBnXkFtZTcwODU0MzA3MQ@@._V1_FMjpg_UX510_.jpg" alt="movie poster">
    <br>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam dicta perferendis dolore amet aliquid quibusdam maiores velit, ipsum architecto ea quis repellat optio sit neque ut modi ab eum veritatis?
    </p>
    <br>
  </div>
