  <div class="movie_card" id="results">

    <h2> <%= @movies.title %></h5>
    <p> <%= @movies.genre %></p>
    <img src="<%= @movies.poster %>"  alt="movie poster">
    <h5><%= @movies.plot %></h5>

  </div>
