<div class="banner">
  <div class="banner-container">
    <h1>Welcome to your movie finding journey </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut mollitia ducimus saepe repellendus vel! Sed provident ex, saepe perferendis minima similique necessitatibus, soluta adipisci repudiandae, quae sunt facilis omnis mollitia.</p>
  </div>
</div>

<div>
   <h1>food that can match the movie your watching</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptate laudantium, voluptatum ex illum laboriosam libero. Neque molestias eligendi minima quam reiciendis cumque, tempore voluptate officiis quos deleniti voluptatibus nostrum.</p>
</div>