.buttoncontainer{
  position: relative;
  margin-bottom: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}

$button-height: 80px;
$button-width: 480px;
$press-time: .4s;
html, body{
	height: 100%;
	width: 100%;
}
body{
	background-color: #eeebdd;
	position: relative;
	margin: 0;
}
a{
  color: $white !important;
}
.bigredbutton{
  box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000000;
	cursor: pointer;
	background-color: #630000;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	width: $button-width;
	height: $button-height;
	transform: translateX(-50%);
	&::before{
    padding-top: 25px;
		content: 'Find me a movie!';
		z-index: 1;
		border-radius: 50%;
		background-color: #810000;
		position: absolute;
		bottom: 100%;
		left: 0%;
		transition: bottom $press-time;
		width: $button-width;
		height: $button-height;
	}
	&::after{
		content: '';
		background-color: #630000;
		position: absolute;
		bottom: 50%;
		left: 0%;
		width: $button-width;
		height: $button-height;
		transition: height $press-time;
	}
	&:active{
		&::before{ bottom: 10%; }
		&::after{ height: 10%; }
	}
}

.curved-text{
z-index: 3;
position: relative;
bottom: -96px;
font-size: x-large;
}
