.sign-up {
  background-color: #810000;
  border: none;
  border-radius: 5px;
  color: #f8f7f2;
  outline: none;
  padding: 8px 30px 8px;
  position: relative;
  a {
    color: #f8f7f2;
    text-decoration: none;
  }
}
.sign-up:before,
.sign-up:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}
.sign-up:before {
  border-top: 3px solid #f8f7f2;
  right: 0;
  top: -4px;
}
.sign-up:after {
  border-bottom: 3px solid #f8f7f2;
  bottom: -4px;
  left: 0;
}
.sign-up:hover:before,
.sign-up:hover:after {
  width: 100%;
}
.scroll-btn i{
  position: fixed;
  bottom: 20px;
  right:20px;
  padding:7px 12px;
  background:#810000;
  color:#f8f7f2;
  font-size: 15px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,15);
}

.btn-lg{
  border: 3px solid black;
}
