 .movie_card {
  background-repeat: no-repeat;
  background-color: rgb(139, 12, 12);
  display: flex;
  align-items: center;
  padding:10px 15px 10px 15px;
  flex-direction: column;
  width: 34rem;
  border-radius: 15%;
  border: 5px solid rgba(255, 255, 255, 0.856);
  box-shadow: 0px 0px 15px 2px white;
  opacity: 0.6;

}
h2 {
  margin: 0px 0px 0px 0px;
  color: rgb(255, 254, 254);
  text-align: center;
}
p {
  margin: 0px 0px 0px 0px;
  padding: 3px 3px 0px 3px ;
  shape-outside: circle(25%);
  color: rgb(255, 254, 254);

}
a .movie_card img {
  border-radius: 16%;
  border: 5px solid black;
  box-shadow: 0px 0px 15px 3px black;
  height: 70%;
  width: 70%;
  padding: 5px;
}
