.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: fixed;
  width: 100vw;
  height: 100px;
  z-index: 5;
  margin-top: -25px;
  a{
    color: $white !important;
  }
  .nav-item {
    margin-top: -20px;
  }
}
.dropdown{
  a {
    color: $black !important;
  }
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 100%;
  align-items: center;
  margin-top: 5px;
  transition: all .2s ease-in-out;
}

.navbar-brand {
  width: 150px;
  height: 75px;
  margin-top: -50px;
}

.navbar-brand:hover {
  transform: scale(1.1);
}
