.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: fixed;
  width: 100vw;
  a{
    color: $white !important;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
