<div class="body1">
  <br>
  <br>
  <br>
  <br>
  <div>
    <h1>Pairings</h1>
  </div>
  <div class="pairing-daddy-container">
    <div>
      <%= link_to "Create a new pairing", new_pairing_path, class: "sign-up new-pairing-button" %>
    </div>
    <div class="pairings-container">
    <% @pairings.each do |pairing|%>
      <div class="pairings-card">
        <p class="name"> <%= pairing.movie.title %> </p>
        <p class="name"> <%= pairing.food.dish %> </p>
        <button class="button"><%= link_to "View Pairing", pairing_path(pairing), class: "sign-up" %></button>
      </div>
      <% end %>
    </div>
  </div>

</div>
