<div class="body1">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">

  <%= simple_form_for @pairing do |f| %>
    <%= f.input :movie, collection: Movie.all, input_html: { class: 'select2', autofocus: true  } %>
    <%= f.input :food %>
    <%= f.button :button, type: :submit, class: 'sign-up pairbutton' do %>
      <span>Create pairing</span>
    <% end %>
  <% end %>
  </div>

</div>
