
  <br>
  <br>
  <br>
  <br>
  <br>


  <div class="pairings_container" style="display: flex; justify-content: center; margin-top: 50px;">
  <%= render 'shared/moviecard' %>
  <div style="zindex: 3; align-self: center;">

    <%= image_tag 'movie-food-connectersrgb2.png' %>

  </div>
  <%= render 'shared/foodcard' %>

</div>
<br>
<div class="back-button">
  <%= link_to "Back to pairings", pairings_path, class: "sign-up back-pairings" %>
</div>
<br>
<br>
<br>
<br>
<div class="footer">
  <p><a href="https://twitter.com/watch_whatever"><i class="fab fa-twitter-square"></i></a></p>
  <p><span class="smaller">© 2021 Whatever, Inc.</span></p>
</div>
